*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    --azul-claro: #00bbff;
    --azul-escuro: #000C26;
    --cinza: #E3EEF2;
    margin: 0;
    padding: 0;
    /*background: var(--cinza);*/
    color: var(--azul-escuro);
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1{
    font-size: 64px;
    font-weight: 700;
    margin: 0px;
}

h2{
    color: var(--azul-claro);
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
}

a{
    color: var(--grey);
    font-weight: 600;
    color: var(--azul-claro);
    text-decoration: none;
}

section{
    position: relative;
    display: flex;
    height: 100vh;
}

article{
    width: 100%;
    margin-left: 6.25vw;
}

/*hero*/

section.Hero .video-contender{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100vw;
}

section.Hero .texto{
    color: var(--cinza);
}

section.Hero article{
    position: relative;
    flex-direction: column;
    gap: 4vw;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-basis: 35vw;
    flex-direction: column;
}

section.Hero article .logo-texto{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

section.Hero .cta{
    font-size: 35px;
    border: solid var(--azul-claro);
    border-radius: 15px;
    border-width: 2px;
    padding: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    transition-duration: 350ms;
    transition-timing-function: ease-in-out;

}

section.Hero .cta:hover{
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
}

/*conceito*/

section.Conceito{
    background-image: url(../Midias/Conceito.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

section.Conceito article{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 35vw;
    flex-direction: column;
    gap: 25px;
    margin: 6.25vw;
}

section.Conceito .texto-e-titulo{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

section.Conceito .textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*ODS*/

section.ODS{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--cinza)
}

section.ODS video{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 62.5vw;
}

section.ODS article{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 6.25vw;
    gap: 25px;
    margin: 6.25vw;
}

section.ODS .texto-e-titulo{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

section.ODS .textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Publico alvo */

section.Publico-alvo{
    background-color: var(--cinza);
}

section.Publico-alvo .imagens .toruga{
    position: absolute;
    z-index: 2;
    top: 22vh;
    right:0px;

    transition-duration: 500ms;
}

section.Publico-alvo .imagens .toruga:hover{
    translate: 0px -20px;
}

section.Publico-alvo .imagens .estrela{
    position: absolute;
    top: 13vh;
    right: 6.25vw;

    animation-name: rotação;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes rotação{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

section.Publico-alvo article{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-basis: 35vw;
    flex-direction: column;
    gap: 25px;
    margin: 6.25vw;
}

section.Publico-alvo .texto-e-titulo{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

section.Publico-alvo .textos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*equipe*/

section.Equipe {
    background-color: var(--azul-claro);
    height: auto;
}

section.Equipe .conteudo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 6.25vw;
    gap: 70px;
}

section.Equipe h2{
    color: var(--azul-escuro);
}

section.Equipe  h1{
    color: var(--cinza);
}

section.Equipe a{
    color: var(--azul-escuro);
}

section.Equipe .titulo-e-subtitulo{
    gap: 24px;
}

section.Equipe .integrantes{
    display: flex;
    flex-wrap: wrap;
    gap: 9vw
}

section.Equipe .integrante {
    background: var(--cinza);
    padding: 23px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    transition-duration: 250ms;
}

section.Equipe .integrante:hover {
    translate: 0px -20px;
    background-color: var(--azul-escuro);
    color: var(--cinza);
    filter: drop-shadow(0px 20px 15px rgba(0,0,0,0.2));
}

section.Equipe .foto{
    border-radius: 30px;
}

section.Equipe .pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*scrollbar*/

::-webkit-scrollbar{
    width: 0px;
}